@import url('navbar.css');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial|Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
}
body {
	min-width: 675px;
	width: auto !important;
	width: 675px;
}
.top {
	top: 0px;
	margin: 12px;
	height: auto;
	width: auto;
	text-align: center;
	background-image: url('../images/bk-ground_pic.webp');
	background-size: cover;
	z-index: -1;
}

.top #gitButton {
	background-color: black;
	top:30px;
	height:50px;
	width:270px;
	border: 5px dashed white;
	color: white;
	justify-content:center;
	text-shadow: none;
	margin: auto;
	font-size: 30px;
	font-family: 'Titillium Web',monospace;
}
.top #middle-text {
	font-family: 'Titillium Web',monospace;
	margin-bottom: 0px;
	margin-top: 40px;
	color:white;
}
.top #middle-text-two {
	font-family: 'Titillium Web',monospace;
	margin-bottom: 15px;
	margin-top: 10px;
	color: white;
	font-weight: 7px;
}
.top #gitButton:hover {
	top:28px;
	color: slate;
}

#lans {
    display: flex;
    padding-top: 60px;
    height: 350px;
    /* transform:translate(0px,-82px); */
    justify-content: center;
}
#lans div {
    text-align: center;
    width: 22%;
    background-color: rgba(255, 255, 255, 0);
    display:inline-block;
    height: 200px;
    margin-right: 5%;
    margin-left: 75px;
}

#lans div h3 {
    font-family: "Soleil Book";
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 8px;
}

#lans div img {
    margin-top: 43px;
}
#lans div p {
    font-size: 18px;
}

#division-background {
	margin-top: -450px;
	clip-path: polygon(100% 29%, 100% 100%, 0 100%, 0% 50%);
	background-color: rgb(59, 183, 255);
	height: 600px;
	width: auto;
	position: relative;
	z-index: -1;
}

.bottom {
	font-family: 'Titillium Web',monospace;
}
