:root {
    font-size: 5px;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("../media/fonts/Raleway/static/Raleway-Regular.woff") format("woff");
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../media/fonts/Raleway/static/Raleway-Medium.woff") format("woff");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../media/fonts/Raleway/static/Raleway-Bold.woff") format("woff");
}

html {
    background-color: #F7F7F7;
}

* {
    margin: 0;
    text-align: center;
}

h1 {
    color: #FF5376;
    font-family: "Raleway-Bold";
    font-size: 16rem;
}
h2 {
    color: #4C5454;
    font-family: "Raleway-Medium";
    font-size: 10rem;
}

#wrapper {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

header {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

nav {
    position: sticky;
}

nav a {
    font-size: 6rem;
    font-family: 'Raleway-Light';
    color: #4C5454;
}